/* font-face */
@font-face {
    font-family: 'Circe-Regular';
    src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Circe-Regular.woff') format('woff'),
        url('fonts/Circe-Regular.ttf')  format('truetype'),
        url('fonts/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Bold';
    src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Circe-Bold.woff') format('woff'),
        url('fonts/Circe-Bold.ttf')  format('truetype'),
        url('fonts/Circe-Bold.svg#Circe-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
b,strong,.bold{font-family: 'Circe-Bold';}
.upper{text-transform:uppercase;}

body{font-size:18px;line-height:26px;font-family: 'Circe-Regular';color:#545454;
     -webkit-text-size-adjust:100%;
     -ms-text-size-adjust:100%;
     text-rendering: optimizeLegibility; 
     -webkit-font-smoothing: antialiased !important;
     backface-visibility: hidden;
}
a,a:hover,a:active,a:focus,input,input:hover,input:focus,input:active,textarea,textarea:hover,textarea:active,textarea:focus,button,button:hover,button:focus,button:active{outline:none;}
a,input,button{transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;}
a{color:#6e3431;}
a:hover,
a:focus{color:#c8d409;}
img{max-width:100%;height:auto;}

body{backface-visibility: hidden;}

.navbar-collapse{padding:0;margin:0;}
.abs{position:absolute;}
.rel{position:relative;}
.cY{top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.cX{left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.cXY{left:50%; top:50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}

/* preloader */
#preloader {position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; overflow: visible; background: #f9f9f9;}
#preloader_outer{width: 75px; height: 75px; font-size:0;display:inline-block;}
#preloader_inner{width: 75px; height: 75px;-webkit-animation:outer 6600ms linear infinite;animation:outer 6600ms linear infinite}
#preloader_inner svg{ -webkit-animation:inner 1320ms linear infinite; animation:inner 1320ms linear infinite}
#preloader_inner svg circle{fill:none; stroke:#c8d409; stroke-linecap:round; -webkit-animation:arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite; animation:arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite}
@-webkit-keyframes outer{
    0%{-webkit-transform:rotate(0);transform:rotate(0)}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes outer{
    0%{-webkit-transform:rotate(0);transform:rotate(0)}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@-webkit-keyframes inner{
    0%{-webkit-transform:rotate(-100.8deg);transform:rotate(-100.8deg)}
    100%{-webkit-transform:rotate(0);transform:rotate(0)}
}
@keyframes inner{
    0%{-webkit-transform:rotate(-100.8deg);transform:rotate(-100.8deg)}
    100%{-webkit-transform:rotate(0);transform:rotate(0)}
}
@-webkit-keyframes arc{
    0%{stroke-dasharray:1 210.48670779px;stroke-dashoffset:0}
    40%{stroke-dasharray:151.55042961px,210.48670779px;stroke-dashoffset:0}
    100%{stroke-dasharray:1 210.48670779px;stroke-dashoffset:-151.55042961px}
}
@keyframes arc{
    0%{stroke-dasharray:1 210.48670779px;stroke-dashoffset:0}
    40%{stroke-dasharray:151.55042961px,210.48670779px;stroke-dashoffset:0}
    100%{stroke-dasharray:1 210.48670779px;stroke-dashoffset:-151.55042961px}
}

/* placeholder color */
form input::-webkit-input-placeholder {color:#cecece;}
form input:-moz-placeholder{color:#cecece;}
form input:-ms-input-placeholder{color:#cecece;}
form textarea::-webkit-input-placeholder {color:#cecece;}
form textarea:-moz-placeholder{color:#cecece;}
form textarea:-ms-input-placeholder{color:#cecece;}

/* HEADER */
.head_top{padding:12px 0;border-bottom:1px solid #cecece;}
            .head_top:after{content:"";width:100%;display:table;clear:both;}

/* соц кнопки */
.head_social{margin:16px 0 0;float:left;line-height:14px;}
.head_social>li{vertical-align:top;padding:0;}
.head_social>li>a{display:block;width:24px;height:14px;}
.head_social>li.vk{margin-right:9px;}
.head_social>li.yt{margin-right:6px;}
.head_social>li.vk>a{background:url(img/icon/vk.png)no-repeat center;}
.head_social>li.vk:hover>a{background:url(img/icon/vk_green.png)no-repeat center;}
.head_social>li.tw>a{background:url(img/icon/tw.png)no-repeat center;}
.head_social>li.tw:hover>a{background:url(img/icon/tw_green.png)no-repeat center;}
.head_social>li.yt>a{background:url(img/icon/yt.png)no-repeat center;}
.head_social>li.yt:hover>a{background:url(img/icon/yt_green.png)no-repeat center;}
.head_social>li.fb>a{background:url(img/icon/fb.png)no-repeat center;}
.head_social>li.fb:hover>a{background:url(img/icon/fb_green.png)no-repeat center;}

.green_btn{background:#c8d409;display:inline-block;font-size:16px;line-height:24px;border-radius:5px;padding:9px;width:170px;text-align:center;}
.green_btn:hover,.green_btn:focus{text-decoration:none;color:#fff;background-color:#9aa313;}

.header_inner_wrap{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;}
.heder_logo_area{max-width:195px;}

.head_top .back_call{float:right;}
.head_contact{float:right;margin:9px 120px 0 0;}
.head_contact .head_contact_box{display:inline-block;vertical-align:middle;font-size:16px;}
.head_contact .head_contact_box+.head_contact_box{margin-left:25px;}
.head_contact .head_contact_box img,
.head_contact .head_contact_box span,
.head_contact .head_contact_box a{display:inline-block;vertical-align:middle;color:#545454;cursor:default;}
.head_contact .head_contact_box a:hover,
.head_contact .head_contact_box a:focus{text-decoration:none;}
.head_contact .head_contact_box img {margin-right:5px;}

.head_bottom{padding:24px 0;}
.head_bottom:after{content:"";width:100%;display:table;clear:both;}

.logo{float:left;}
.logo a{display:block;}
.logo a:hover,
.logo a:focus{text-decoration:none;}
.logo img, .logo span.text{display:inline-block;vertical-align:middle;}
.logo span.text{color:#666;font-size:16px;line-height:18px;margin-top: 9px;}

.menu_search_area{float:right;}
.collaps_menu_area{float:right;margin:0 70px 0 0;}
.main_menu>li>a{padding:10px 0;}
.main_menu li+li{margin-left:30px;}
.nav.main_menu>li>a:focus,
.nav.main_menu>li>a:hover,
.nav.main_menu>li.active>a,
.nav.main_menu>li.current-menu-item>a,
.nav.main_menu>li.current-post-ancestor>a,
.nav.main_menu>li.current-category-ancestor>a,
.nav.main_menu>li.current-menu-ancestor>a,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{background:transparent;color:#c8d409;}

.dropdown-menu{border:0;border-top:2px solid #c8d409;padding:0;-webkit-box-shadow:0 3px 15px rgba(0,0,0,.05);box-shadow:0 3px 15px rgba(0,0,0,.05);border-radius:0;}
.dropdown-menu>li>a{font-size:14px;line-height:20px;padding:8px 15px;color:#6d322f;}
.dropdown-menu>li{margin:0;}
.dropdown-menu>li+li{border-top:1px solid #f0f0f0;margin:0;}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{background:#c8d409;color:#6d322f;}

.head_seach{position:absolute;right:0;top:0;height:40px;width:40px;background: #fff;z-index: 20;overflow:hidden;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;}
.search_field{border:1px solid #f0f0f0;padding:0 40px 0 20px;line-height:38px;color:#545454;width:40px;height:40px;right:-40px;position:absolute;z-index: 1;font-size:20px;}
.head_seach_submit{display:block;width:40px;height:40px;border:0;z-index:-1;position:absolute;right:0;}
.head_search_icon{background:#fff url(img/icon/search.png)no-repeat center;display:block;width:40px;height:40px;border:0;z-index:90;position:absolute;cursor:pointer;right:0;}
.head_seach.head_seach_open{width:100%;}
.head_seach.head_seach_open .search_field{right:0px;width:100%;}
.head_seach.head_seach_open .head_search_icon{border:1px solid #f0f0f0;border-left:0;}

/* w1440 project carousel */
.project_carousel_wrap{position:relative;background:#f7f7f7;padding-bottom:100px;}
.project_carousel li{height:600px;background-repeat:no-repeat;background-position:center;}
.project_carousel li .rel{height:600px;}
.project_carousel li .carousel_caption{position:absolute;width:700px;padding:50px 55px;background:rgba(200,212,9,.7);color:#000;left:0;bottom:-80px;}
.project_carousel_wrap .lSSlideWrapper,
.project_carousel_wrap .lightSlider,
.project_carousel_wrap .lSSlideOuter{overflow:visible;}
.project_carousel li .carousel_caption .ttl{font-size:48px;line-height:58px;margin:0 0 5px;}
.project_carousel li .carousel_caption .descript{font-size:16px;line-height:24px;max-width:460px;margin:0 0 20px;}
.meta_price{display:inline-block;vertical-align:top;padding-left:38px;font-size:16px;line-height: 24px;}
.meta_square{display:inline-block;vertical-align:top;padding-left:28px;font-size:16px;line-height: 24px;}
.meta_price+.meta_square{margin-left:35px;}
.project_carousel .meta_price{background:url(img/icon/meta_price_r.png) no-repeat left center;}
.project_carousel .meta_square{background:url(img/icon/meta_square_r.png) no-repeat left center;}

.red_btn{background:#6e3431;display:inline-block;font-size:16px;line-height:24px;border-radius:5px;padding:9px;color:#fff;width:170px;text-align:center;}
.red_btn:hover,.red_btn:focus{text-decoration:none;background:#491815;color:#fff;}
.project_carousel .red_btn{position:absolute;bottom:-21px;left:55px;}

.lSSlideOuter .lSPager.lSpg>li{padding:0 2px;}
.lSSlideOuter .lSPager.lSpg>li a{width:8px;height:8px;background:transparent;border:2px solid #cad614;}
.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{background:#cad614;}
.project_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin:0;position:absolute;bottom:55px;right:420px;width:50px;text-align:center;}
.project_carousel_next{width:25px;height:18px;position:absolute;background:url(img/icon/next_r.png)no-repeat center;right:380px;bottom:57px;cursor:pointer;}
.project_carousel_prev{width:25px;height:18px;position:absolute;background:url(img/icon/prev_r.png)no-repeat center;right:485px;bottom:57px;cursor:pointer;}

/* service carousel box */
.service_block{background:#f7f7f7;padding: 80px 0 50px;}
.hp_ttl{text-align:center;color:#000;font-size:32px;line-height:38px;margin:0 0 16px;}
.hp_sub_text{max-width:630px;margin:0 auto 45px;text-align:center;font-size:16px;line-height:22px;}
.service_carousel_wrap{overflow:hidden;position:relative;}
.service_carousel li{-webkit-box-shadow:0 3px 5px rgba(0,0,0,.05);box-shadow:0 3px 5px rgba(0,0,0,.05);}
.service_carousel li .thumb{width:360px;height:204px;border-radius:5px 5px 0 0;overflow:hidden;}
.service_carousel li .thumb img{border-radius:5px 5px 0 0;}
.service_carousel li .post_name{background:#fff;text-align:center;padding:20px 15px 30px;border-radius:0 0 5px 5px;font-size:20px;}
.service_carousel li .post_name a:hover{text-decoration:none;}
.service_carousel_wrap .lSSlideOuter{width:1140px;overflow:visible !important;margin:0 auto;}
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper,
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper .service_carousel{overflow:visible !important;}
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper:before,
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper:after{content: "";background: rgba(255,255,255,.5);width: 2000px;height: 280px;position: absolute;z-index: 200;top: 0;}
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper:before{left: 102.5%;left: -webkit-calc(100% + 30px);left: calc(100% + 30px);}
.service_carousel_wrap .lSSlideOuter .lSSlideWrapper:after{right: 102.5%;right: -webkit-calc(100% + 30px);right: calc(100% + 30px);}
.service_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:18px !important;}
.service_carousel_next,
.service_carousel_prev,
.project2_carousel_next,
.project2_carousel_prev,
.replay_carousel_next,
.replay_carousel_prev{width:44px;height:44px;position:absolute;z-index:500;top:50%;margin-top:-44px;cursor:pointer;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;}
.service_carousel_next:hover,
.service_carousel_prev:hover,
.service_carousel_next:focus,
.service_carousel_prev:focus,
.project2_carousel_next:hover,
.project2_carousel_next:focus,
.project2_carousel_prev:hover,
.project2_carousel_prev:focus,
.replay_carousel_next:hover,
.replay_carousel_next:focus,
.replay_carousel_prev:hover,
.replay_carousel_prev:focus{background-color:#9aa313;}
.service_carousel_next,
.project2_carousel_next,
.replay_carousel_next{background:#c8d409 url(img/icon/next_r.png)no-repeat center;right:90px;}
.service_carousel_prev,
.project2_carousel_prev,
.replay_carousel_prev{background:#c8d409 url(img/icon/prev_r.png)no-repeat center;left:90px;}

/* project 2 carousel */
.project2_block{padding: 55px 0 60px;}
.project2_carousel_wrap .meta_price{background: url(img/icon/meta_price_g.png) no-repeat left center;}
.project2_carousel_wrap .meta_square{background: url(img/icon/meta_square_g.png) no-repeat left center;}
.project2_carousel_wrap{position:relative;margin:0 0 40px;}
.project2_carouse li .thumb{border-radius: 5px;overflow:hidden;width:555px;height:300px;}
.project2_carouse li .thumb img{border-radius:5px;}
.project2_carouse li .post_name{padding:15px 0;font-size:24px;line-height:30px;}
.project2_carouse li .post_name a:hover{text-decoration:none;}
.project2_carousel_next,
.project2_carousel_prev{top:130px;margin-top:0;}
.project2_carousel_next{right:-60px;left:auto;}
.project2_carousel_prev{left:-60px;right:auto;}
.project2_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:40px !important;}

.projec2_btns .green_btn,
.projec2_btns .red_btn{margin:0 14px 10px;padding: 7px;}
.projec2_btns .green_btn{border:2px solid transparent;}
.projec2_btns .red_btn{border:2px solid #6e3431;background:transparent;color:#6e3431;}
.projec2_btns .red_btn:hover,
.projec2_btns .red_btn:focus{background:#6e3431;color:#fff;}

/* colum4 block */
.colum4_icons_bg{padding:96px 0;background:url(img/4colums_bg.jpg)no-repeat center;background-size:cover;}
.colum4_list{padding:0 35px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;display:flex;-ms-flex-wrap:wrap;display:flex;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.colum4_list .colum4_item{color:#fff;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.colum4_item .text{margin-left:15px;-webkit-align-self: flex-end;-ms-flex-item-align: end;align-self: flex-end;}
.colum4_item .text p{font-size:16px;line-height:20px;margin:0;}
.colum4_item .text span{font-size:48px;display:block;line-height:48px;}
.colum4_item .text span+p{position:relative;top:-6px;}

/* colum3 block */
.colum3_icons_bg{padding:75px 0 90px;}
.colum3_list{text-align:center;margin:0 0 30px;}
.colum3_list .colum3_item{width:260px;margin:0 40px;display:inline-block;vertical-align:top;}
.colum3_list .colum3_item .ttl{color:#c8d409;font-size:30px;line-height:36px;margin:0 0 10px;}
.colum3_list .colum3_item .text{font-size:16px;line-height:20px;}

/* content_blocks */
.content_block_item{height:500px;display:table;width:100%;overflow:hidden;}
.content_block_item:after{content:"";width:100%;display:table;clear:both;}
.content_block_item .column{display:table-cell;width:50%;vertical-align:middle;}
.content_block_item .img_box{height:500px;background-size: cover;background-repeat:no-repeat;display: table-cell;width: 50%;vertical-align: middle;}
.content_block_item .text_wrap_container{padding-left:60px;max-width: 510px;}
.content_block_item .text_wrap_container .house_area_ttl{color:#000;font-size:32px;line-height:38px;margin:0 0 30px;}
.content_block_item .text_wrap_container .text{font-size:16px;line-height:22px;}
.content_block_item .text_wrap_container .text p:last-child{margin:0;}
.content_block_item.img_right .img_box{position:relative;left:50%;}
.content_block_item.img_right .column{position:relative;left:-50%;}
.content_block_item.img_right .text_wrap_container{padding:0 60px 0 0;float:right;}

/* hp_cat_block */
.hp_cat_block{padding:55px 0 70px;background:#f7f7f7;}
.hp_cat_block .ttl{margin:0 0 30px;}
.hp_cat_block .ttl span{display:inline-block;vertical-align:bottom;color:#000;font-size:28px;line-height:32px;}
.hp_cat_block .ttl a{display:inline-block;vertical-align:bottom;margin-left:26px;color:#c8d409;font-size:16px;line-height:24px;} 
.hp_cat_block .ttl a:hover,
.hp_cat_block .ttl a:focus{text-decoration:none;color:#6e3431;}
.hp_cat_list:after,
.hp_cat_list .hp_cat_post_sm:after{content:"";width:100%;clear:both;display:table;}

.hp_cat_list .hp_cat_post_lg{float:left;width:360px;}
.hp_cat_post_lg .post_lg_thumb{width:360px;height:200px;margin:0 0 17px;border-radius:5px;overflow:hidden;}
.hp_cat_post_lg .post_lg_thumb img{border-radius:5px;}
.hp_cat_post_lg .post_ttl{display:inline-block;font-size:22px;line-height:28px;margin:0 0 5px;}
.hp_cat_list .post_excerpt{font-size:16px;line-height:20px;}
.hp_cat_list .sm_post_wrap{width: 485px;padding:0 0 0 30px;float: left;}

.hp_cat_list .hp_cat_post_sm+.hp_cat_post_sm{margin-top:20px;}
.hp_cat_post_sm .post_sm_thumb{width:164px;height:100px;float:left;border-radius:5px;overflow:hidden;}
.hp_cat_post_sm .post_sm_thumb+.meta_info_wrap{padding-left:180px;}
.hp_cat_post_sm .post_ttl{display:inline-block;line-height:22px;margin:0 0 7px;}
.hp_cat_post_sm .post_ttl:hover,
.hp_cat_post_sm .post_ttl:focus,
.hp_cat_post_lg .post_ttl:hover,
.hp_cat_post_lg .post_ttl:focus{text-decoration:none;}

.modal_video_list .modal_btn{display:block;margin:0 0 23px;}
.modal_video_list .modal_btn:last-child{margin:0;}
.modal_video_list .lazyYT{pointer-events: none;}

/* hp replay block */
.hp_replay_block{padding:65px 0;}
.hp_replay_block .hp_ttl{margin:0 0 25px;}
.hp_replay_carousel_wrap{padding:0 95px;position:relative;}
.hp_replay_carousel li .replay_text{float:left;width:555px;margin-right:35px;font-size:16px;line-height: 22px;}
.hp_replay_carousel li .replay_text p{margin:0 0 17px;}
.hp_replay_carousel li .replay_text p:last-child{margin:0;}
.hp_replay_carousel li .replay_text .name{font-size:24px;line-height:30px;color:#000;}
.hp_replay_carousel li .replay_text .date{font-size:16px;line-height:20px;margin:0 0 20px;color:#000;}

.hp_replay_carousel li .gallery_wrap{float:left;width:360px;}
.replay_gallery{list-style:none;margin:0;padding:0;}
.replay_gallery li{width:169px;height:169px;float:left;margin:21px 21px 0 0;cursor:pointer;position:relative;}
.replay_gallery li:before{content:"";position: absolute;left:0;top:0;bottom:0;right:0;background:rgba(200,212,9,.7) url(img/icon/loopa_w_icon.png) no-repeat center;-webkit-transition: all .3s ease;transition: all .3s ease;opacity: 0;}
.replay_gallery li:hover:before{opacity: 1;}
.replay_gallery li:nth-child(-n+2){margin-top:0;}
.replay_gallery li:nth-child(2n){margin-right:0;}

.replay_carousel_next{right:30px;left: auto;}
.replay_carousel_prev{left:30px;right:auto;}
.hp_replay_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:30px !important;}

/* colum_content_block */
.colum_content_block{background:#ededed;padding:60px 0 50px;}
.colum_content{font-size:16px;line-height: 22px;color:#727272;-moz-columns: 2;-webkit-columns: 2;columns: 2;-moz-column-gap: 30px;-webkit-column-gap: 30px;column-gap: 30px;}
.colum_content p{margin:0 0 17px;}
.colum_content p:last-child{margin:0;}

/* Footer */
footer{background:#121212;color:#fff;}
footer a{color:#c8d409;}
.footer_top{padding:45px 0 30px;}
.footer_top:after{content:"";width:100%;display:table;clear:both;}
.footer_col1{float:left;width:295px;margin-right:95px;}
.footer_col1 .logo{float:none;margin:0 0 25px;}
.footer_col1 .logo span.text{color:#fff;margin:0;width:auto;} 
.footer_col1 .footer_contact{font-size:16px;line-height:20px;margin:0 0 25px;}
.footer_col1 .footer_contact span{display:block;}
.footer_col1 .footer_contact span a{color:#fff;}
.footer_col1 .seo_text{font-size:13px;line-height:17px;margin:0 0 25px;}
.footer_top .head_social{line-height:14px;}
.footer_top .head_social>li.vk>a{background:url(img/icon/vk_w.png)no-repeat center;}
.footer_top .head_social>li.vk:hover>a{background:url(img/icon/vk_green.png)no-repeat center;}
.footer_top .head_social>li.tw>a{background:url(img/icon/tw_w.png)no-repeat center;}
.footer_top .head_social>li.tw:hover>a{background:url(img/icon/tw_green.png)no-repeat center;}
.footer_top .head_social>li.yt>a{background:url(img/icon/yt_w.png)no-repeat center;}
.footer_top .head_social>li.yt:hover>a{background:url(img/icon/yt_green.png)no-repeat center;}
.footer_top .head_social>li.fb>a{background:url(img/icon/fb_w.png)no-repeat center;}
.footer_top .head_social>li.fb:hover>a{background:url(img/icon/fb_green.png)no-repeat center;}

.footer_col2{float:left;width:180px;margin-right:55px;}
.footer_col2:last-child{margin-right:0;}
.footer_ttl{font-size:24px;line-height:30px;margin:0 0 20px;}
.footer_menu{list-style:none;margin:0;padding:0;}
.footer_menu>li{margin:0 0 3px;}
.footer_menu>li>a{font-size:16px;line-height:24px;display:block;}

.copyright{text-align:center;font-size:16px;line-height:24px;padding-bottom: 20px;}

/* BLOG CATEGORY PAGE */
.content_inner{padding: 60px 0 50px;}

/* breacrumbz */
.breadcrumbz_area{padding: 70px 0 65px;background-position: center;background-repeat: no-repeat; background-size: cover;position:relative;
background-blend-mode: multiply;background-color: rgba(110,52,46,.6);}

.breadcrumb{padding:0;border-radius:0;margin:0 0 86px;background: transparent;line-height:20px;font-size:14px;}
.breadcrumb>li,
.breadcrumb>li>a,
.breadcrumb>.active{color:#fff;font-size:14px;line-height:20px;}
.breadcrumb>.active{position:relative;top:1px;}
.breadcrumb>li>a{text-decoration: underline;}
.breadcrumb>li>a:hover{text-decoration: none;}
.breadcrumb>li+li:before{content:"";display: inline-block;padding:0 3px;width: 0;height: 0;margin-left: 5px;vertical-align: middle;color:#fff;border-left: 4px dashed;border-left: 4px solid\9;border-top: 4px solid transparent;border-bottom: 4px solid transparent;position:relative;top:-1px;}
.page_title{font-size:48px;line-height: 58px;color:#fff;margin:0;font-weight: 400;}

/* category loop */
.cat_loop{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;}
.cat_loop .post_item{margin:0 0 45px;position:relative;-webkit-flex-basis: 410px;-ms-flex-preferred-size: 410px;flex-basis: 410px}

.cat_loop .post_item .post_thumb{width:100%;overflow:hidden;margin:0 0 20px;}
.cat_loop .post_item .post_date{position:absolute;top:0;left:0;color:#000;font-size:14px;line-height:20px;background: #c8d409;padding:9px 30px 7px;z-index:20;}
.cat_loop .post_item .post_title{display:inline-block;font-size:24px;line-height:28px;margin:0 0 5px;}
.cat_loop .post_item .post_title:hover,
.cat_loop .post_item .post_title:focus{text-decoration:none;}
.cat_loop .post_item .post_excerpt{font-size:16px;line-height:20px;}

/* pagenani */
.wp-pagenavi span,
.wp-pagenavi a{display:inline-block;font-size:16px;line-height:20px;margin:0 7px;}
.wp-pagenavi a:hover,
.wp-pagenavi a:focus,
.wp-pagenavi .current{text-decoration:none;color:#c8d409;}
.wp-pagenavi .pages{color:#ededed;}

/* block with form */
.block_has_form .content_block_item.img_right .text_wrap_container{padding: 0 110px 0 0;max-width: 570px;}
.block_has_form .content_block_item .text_wrap_container .house_area_ttl{font-size:36px;line-height:42px;margin: 0 0 25px;}
.block_has_form .content_block_item.img_right .column{background:#f7f7f7;}
.block_has_form .content_block_item .text_wrap_container .text{margin:0 0 30px;}
.block_has_form .phones_wrap{padding: 0 0 35px;border-bottom:1px solid #eeeeee;margin:0 0 40px;}
.block_has_form .phone_box{display:inline-block;vertical-align: top;width:200px;font-size:14px;line-height:22px;}
.block_has_form .phone_box+.phone_box{margin-left:45px;}
.block_has_form .phone_box span{font-size:20px; line-height:24px;display:block;margin-top:3px;}

/* ca form styling */
.ca_form .form-group:last-child{margin-bottom: 0;}
.ca_form .lable_wrap{display:inline-block;vertical-align:middle;width:93px;}
.ca_form .lable_wrap label{font-size:16px;line-height:20px;font-weight:400;margin:0;}
.ca_form .lable_wrap label sup{font-size:100%;top: -1px;}
.ca_form .input_wrap{display:inline-block;vertical-align:middle;width:360px;}
.ca_form input,
.ca_form textarea{display:block;width:100%;border:1px solid rgba(153,153,153,.11);background:#fff;border-radius:5px;font-size:16px;line-height:20px;padding:13px 20px;}
.ca_form input[type="submit"]{border-color:transparent;background:#c8d409;color:#6e3431;padding:10px 20px;}
.ca_form input[type="submit"]:hover,
.ca_form input[type="submit"]:focus{background:#9aa313;color:#fff;}
.ca_form input:focus:not([type="submit"]),
.ca_form textarea:focus{border:1px solid rgba(153,153,153,.4);}
.ca_form textarea{height:130px;resize: none;}

/* ASIDE */
.widget{margin:0 0 65px;}
.widget:last-child{margin:0;}
aside .widgettitle{color: #000;font-size: 28px;line-height: 32px;display:block;margin: 0 0 20px;}
aside .widgettitle span{display:inline-block;}
aside .widgettitle a{display: inline-block;vertical-align: bottom;margin-left: 26px;color: #c8d409;font-size: 16px;line-height: 24px;} 
aside .widgettitle a:hover,
aside .widgettitle a:focus{text-decoration:none;color:#6e3431;}
.aside_cat_list ul{margin:0;padding:0;list-style:none;}
.aside_cat_list ul li>ul{margin-top:10px;padding-left: 5px;}
.aside_cat_list ul,
.aside_cat_list ul>li,
.aside_cat_list ul>li>a{font-size:16px;line-height:20px;display:block;}
.aside_cat_list ul>li{position:relative;margin:0 0 12px;padding-left:10px;}
.aside_cat_list ul>li:before{content:"";width:3px;height:5px;background:url(img/list_marker_aside.png);position:absolute;left:0;top:6px;z-index:20;}
.aside_cat_list ul>li>a:hover,
.aside_cat_list ul>li>a:focus{text-decoration:none;}

.aside_tag_list ul{margin:0;padding:0;list-style:none;}
.aside_tag_list ul,
.aside_tag_list ul>li,
.aside_tag_list ul>li>a{font-size:12px;line-height:16px;display:block;color:#000;}
.aside_tag_list ul>li{display:inline-block;vertical-align:top;margin:0 6px 8px 0;}
.aside_tag_list ul>li>a{border:1px solid #c8d409;padding:3px 15px 1px;}
.aside_tag_list ul>li>a:hover,
.aside_tag_list ul>li>a:focus{border-color:#6e3431;text-decoration:none;}

/* CONTACT PAGE */
.cotact_item{margin:0 0 30px;}
.cotact_item .ttl{font-size:24px;line-height:30px;margin:0 0 15px;color: #000;}
.cotact_item .contact_text{font-size:16px;line-height:20px;}
.cotact_item .contact_text p{margin:0 0 17px;}
.cotact_item.phones .contact_text p{margin:0 0 10px;}
.cotact_item .contact_text p:last-child{margin:0;}
.contact_page_map{width:750px;height:550px;}

/* REPLAY PAGE */
.replay_list .replay_item{padding: 60px 0;}
.replay_list .replay_item:nth-child(even){background:#f7f7f7;}
.replay_item .replay_text_wrap{font-size: 16px;line-height: 22px;}
.replay_item .replay_text_wrap p{margin: 0 0 17px;}
.replay_item .replay_text_wrap p:last-child{margin:0;}
.replay_item .replay_text_wrap .name{font-size: 24px;line-height: 30px;color: #000;}
.replay_item .replay_text_wrap .date{font-size: 16px;line-height: 20px;margin: 0 0 20px;color: #000;}

/* BLOG SINGLE */
.bread_meta{position:absolute;bottom:30px;color:#fff;font-size:14px;line-height:20px; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.bread_meta .post_category a{color:#fff;text-decoration: underline;}
.bread_meta .post_category a:hover,
.bread_meta .post_category a:focus{text-decoration: none;}
.bread_meta .post_category,
.bread_meta .post_date{display:inline-block;vertical-align: middle;}
.bread_meta .post_date + .post_category{margin-left:35px;}
.breadcrumbz_area.blog_single .breadcrumb{margin:0 0 35px;}

.alignright{float: right;margin: 5px 0 10px 25px;clear: both;}
.alignleft {float:left;margin: 5px 25px 10px 0;clear:both;}
.aligncenter {display:block; margin: 0 auto 10px;}
.alignnone{margin:0 0 10px;}

/* lists in content */
.main_text ul{list-style:none;padding:0;margin:0 0 20px;}
.main_text ul li{padding-left:20px;position: relative;display:table;font-size:18px;line-height: 26px;margin-bottom: 12px;}
.main_text ul li:before{content:"";width:12px;height:1px;position:absolute;top:13px;z-index: 10;left:0;background:#ccc;}

.main_text ol{list-style:none;padding:0;margin:0 0 20px;counter-reset:item;}
.main_text ol li{position: relative;padding-left:20px;display: table;line-height: 20px;margin-bottom:12px;font-size:18px;line-height: 26px;}
.main_text ol ol li{padding-left:4.3rem;}
.main_text ol ol ol li{padding-left:6rem;}
.main_text ol ol ol ol li{padding-left:7rem;}
.main_text ol li:before{content: counter(item)"."; counter-increment:item;font-size: 14px; line-height: 20px;padding: 0 3px;position:absolute;left:0;top:4px;font-family: 'Circe-Bold';}
.main_text ol ol li:before{content:counters(item, ".") "."; counter-increment: item;}
.main_text table ul li, .main_text table ol li{display: inherit;}

.main_text ol ul,
.main_text ol ol,
.main_text ul ol,
.main_text ul ul {margin: 10px 0 5px;}

.main_text ol ul li:last-child,
.main_text ol ol li:last-child,
.main_text ul ol li:last-child,
.main_text ul ul li:last-child {margin:0; }

.main_text ul ol li:before{background-image: none;}
.main_text ul ol li:before{width:auto;height: auto;}
.main_text ol ul li:before{content:""; counter-increment:none;}
.main_text ol ul ol li:before{content: counter(item)"."; counter-increment:item;}
.main_text ol ul ol li {padding-left: 2.3rem;}
/* END LISTS */

.main_text p{margin:0 0 20px;}
.main_text p:last-child{margin:0;}
.main_text{margin:0 0 30px;}

.single_share_btn{margin:0 0 25px;}
.single_share_btn .share_txt{display:inline-block;vertical-align:middle;color:#000000;font-size:16p;line-height:20px}
.after_article_soc_buttons{vertical-align:middle;margin-left: 10px;display:inline-block}

/* post_controller  */
.post_controller{margin:0 0 20px;padding-top: 25px;border-top:1px solid #eee;overflow: hidden}
.post_controller li{display:block;padding:0;width:50%;}
.post_controller>li>a span{display:block;font-size:16px;line-height: 20px;text-decoration:none;margin:0 0 5px;color:#545454;}
.post_controller >li>a{font-size:24px;line-height:30px;}
.post_controller >li.left_control_button{float:left;}

.post_controller >li.left_control_button>a{display:block;padding:0 20px 0 70px;background: url(img/icon/prev_r.png)no-repeat 0 35px;}
.post_controller>li.left_control_button:hover>a{background:url(img/icon/prev_g.png)no-repeat 0 35px;text-decoration:none;}

.post_controller >li.right_control_button{float:right;}

.post_controller >li.right_control_button>a{display:block;padding:0 70px 0 20px;background: url(img/icon/next_r.png)no-repeat 398px 35px;text-align:right;}
.post_controller>li.right_control_button:hover>a{background:url(img/icon/next_g.png)no-repeat 398px 35px;text-decoration:none;}

/* WORK SINGLE */
.bread_meta .aside_tag_list{display:inline-block;vertical-align:middle;margin-left:35px;}
.blog_single  .page_title{position:absolute;bottom:70px;max-width: 1140px;}
.blog_single .aside_tag_list ul>li{margin-bottom:0;}
.blog_single .aside_tag_list ul>li:last-child{margin-right:0;}
.blog_single .aside_tag_list ul>li>a{color:#fff;}
.blog_single .aside_tag_list ul>li>a:hover,
.blog_single .aside_tag_list ul>li>a:focus{border-color: #fff;}

.single_project_info_wrap{overflow: hidden;padding: 18px;border: 2px solid #c8d409;border-radius: 5px;background:#f7f7f7;margin:0 0 30px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
    -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.single_project_info_wrap .thumb{width:180px;height: 150px;}
.single_project_info_wrap .meta_info{padding-left: 30px;-webkit-box-flex:3;-webkit-flex:3;-ms-flex:3;flex:3;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}

.single_project_info_wrap .meta_info .meta_text{font-size:16px;line-height:20px;margin:0 0 10px;}
.single_project_info_wrap .meta_info .meta_ttl{margin:0 0 15px;}
.single_project_info_wrap .meta_info .meta_ttl>a{font-size:24px;line-height:30px;text-decoration: underline;}
.single_project_info_wrap .meta_info .meta_ttl>a:hover,
.single_project_info_wrap .meta_info .meta_ttl>a:focus{text-decoration:none;}
.single_project_info_wrap .meta_info .meta_price{background: url(img/icon/meta_price_g.png) no-repeat left center;}
.single_project_info_wrap .meta_info .meta_square{background: url(img/icon/meta_square_g.png) no-repeat left center;}
.single_project_info_wrap .meta_info .meta_price_square_wrap{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;margin-top: auto;}

.work_single_carousel_wrap{margin:0 0 40px;}
.work_single_carousel_wrap .service_carousel_next{right:20px;}
.work_single_carousel_wrap .service_carousel_prev{left:20px;}
.work_single_carousel_wrap ul{margin:0;}
.work_single_carousel_wrap ul>li{padding: 0;margin-bottom: 0;}
.work_single_carousel_wrap ul>li:before{display:none;}
.work_single_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:20px !important;}

.block_has_form+.single_share_btn{margin-top:35px;}
.content_block_item.flex_inside{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;height:auto;}
.content_block_item.flex_inside .column{width: 65%;padding: 45px 60px;display:block;background: #f7f7f7;}
.content_block_item.flex_inside .img_box{height:auto;width:35%;display:block;}
.content_block_item.flex_inside  .text_wrap_container{max-width: 100%;padding: 0;}
.block_has_form .flex_inside .phones_wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:flex;-ms-flex-wrap:flex;flex-wrap:flex;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;     padding: 0 0 30px;margin: 0 0 30px;}
.block_has_form .flex_inside .phones_wrap .phone_box{width:45%;}
.flex_inside .ca_form .lable_wrap{width:100px;}
.flex_inside .ca_form .input_wrap{width:325px;}

/* ABOUT PAGE */
.content_inner.content_inner_about{padding-bottom: 25px;}
.about_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:12px !important;}
.column3_about{padding: 60px 0 80px;}
.column3_about_list{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;margin:0 0 25px;}
.column3_about_list .column3_about_item{-webkit-flex-basis: 360px;-ms-flex-preferred-size: 360px;flex-basis: 360px;}
.column3_about_list .column3_about_item .column3_about_thumb{margin:0 0 15px;}
.green_btn.about_more{width:255px;}
.column3_about_list .column3_about_item .post_ttl{color:#000;font-size:16px;line-height:22px;text-decoration: none;text-align: center;display: block;padding:0 20px;}

/* VIDEO PAGE */
.video_list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -15px;}
.video_list .video_list_item{-webkit-flex-basis: 360px;-ms-flex-preferred-size: 360px;flex-basis: 360px;margin:0 15px 35px;}
.video_list .video_list_item .video_wrap{margin:0 0 10px;width:360px;height:230px;}
.video_list .video_list_item .video_ttl{font-size:18px;line-height: 24px;color:#000;}

/* VACATION PAGE */
.vacantionl_list{margin:40px 0 0;}
.vacantionl_list .vacation_item{margin-bottom: 50px;}
.vacantionl_list .vacation_item:last-child{margin:0;}
.vacation_item .vacation_ttl{color:#000;font-size:24px;line-height:30px;margin:0 0 15px;}
.vacantionl_list .vacation_item ul{margin:0;}

/* PROJECT CATEGORY PAGE */
.tag_list_project{background:#f7f7f7;padding: 50px 0 40px}
.tag_list_project .tag_descript{padding-bottom: 25px;margin-bottom: 25px;border-bottom: 1px solid #eeeeee;}
.tag_list_project .tag_descript p:last-child{margin:0;}
.tag_list_project .tag_list{margin:0;padding: 0;list-style:none;}
.tag_list_project .tag_list li+li{margin-left:35px;}
.tag_list_project .tag_list,
.tag_list_project .tag_list>li,
.tag_list_project .tag_list>li>a{color:#6e3431;font-size:16px;line-height:26px;display: inline-block;}
.tag_list_project .tag_list>li>a{text-decoration: underline;}
.tag_list_project .tag_list>li:hover>a,
.tag_list_project .tag_list>li:focus>a,
.tag_list_project .tag_list>li.active>a{color:#c8d409;}
.project_content{padding:50px 0;}
.cat_loop.cat_loop_v2{padding-top:50px;}
.cat_loop.cat_loop_v2 .post_item{-webkit-flex-basis: 555px;-ms-flex-preferred-size: 555px;flex-basis: 555px;}
.cat_loop.cat_loop_v2 .post_item .post_thumb,
.cat_loop.cat_loop_v2 .post_item .post_thumb img{border-radius:5px;}
.cat_loop.cat_loop_v2 .post_item .post_thumb{margin: 0 0 10px;}
.cat_loop.cat_loop_v2 .post_item .post_title{margin:0 0 8px;}
.cat_loop_v2 .meta_price{background: url(img/icon/meta_price_g.png) no-repeat left center;}
.cat_loop_v2 .meta_square{background: url(img/icon/meta_square_g.png) no-repeat left center;}

/* PROJECT SINGLE */
.breadcrumbz_area.project_single{height:500px;padding:70px 0 0;}
.brea_ttl_area{position:absolute;bottom:30px;width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
.brea_ttl_area_inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align: start;-webkit-align-items: flex-start;-ms-flex-align: start;align-items: flex-start;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;}
.brea_ttl_area .page_title{max-width:80%;}
.project_single .btn_wrap{position: relative;top: 5px;}
.green_btn.white_btn{background:#fff;color:#6e3431;}
.green_btn.white_btn:hover,
.green_btn.white_btn:focus{background:#c8d409;color:#6e3431;}
.project_single .rel{height:100%;}
.anchor_menu{list-style: none;margin: 0;padding: 0;border-top:1px solid rgba(255,255,255,.4);}
.anchor_menu>li{display:inline-block;}
.anchor_menu>li+li{margin-left:23px;}
.anchor_menu>li>a{display:block;border-top:3px solid transparent;color:#fff;font-size:16px;line-height: 20px;padding-top: 12px;}
.anchor_menu>li.current>a,
.anchor_menu>li:hover>a,
.anchor_menu>li>a:focus{border-color:#fff;text-decoration: none;}

.content_inner_project{padding: 40px 0;}
.project_info_wrap .project_price{padding-bottom:20px;border-bottom:1px solid #eee;margin:0  0 20px;color:#000;}
.project_info_wrap .project_price p{font-size:14px;line-height: 16px;}
.project_info_wrap .project_price span{font-size:30px;line-height:32px;}
.product_info{width:100%;font-size:16px;line-height: 24px;margin-bottom:25px;}
.product_row_info{border-bottom:1px dotted #c8d409;width:100%;margin:-1.5em 0 3px;}
.product_row_info em{position:relative;top:1.9em;background:#ffffff;font-style:normal;}
.product_row_info span{position: relative;top:.5em;background: #ffffff;min-width: 145px;padding-left: 15px;color:#000;}
.product_text_wrap{padding-right: 0;}

.project_single_gallery{clear:both;}
.project_single_gallery .replay_gallery{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: start;-webkit-justify-content: flex-start;-ms-flex-pack: start;justify-content: flex-start;}
.project_single_gallery  .replay_gallery li{width:157px;width:-webkit-calc(100%/4 - 30px);width:calc(100%/4 - 30px);margin:0 15px 30px !important;height:auto;border:1px solid #f4f4f4;}

/* project tabs */
.project_tab{padding:50px 0;}
.project_tab_wrap .nav-tabs{border:0;}
.project_tab_wrap .nav-tabs>li{margin-bottom: 0;}
.project_tab_wrap .nav-tabs>li>a{border:0;font-size: 16px;line-height: 24px;border-radius: 5px;padding: 9px 20px;color:#6e3431;background: #f3f4f4;}
.project_tab_wrap .nav-tabs>li{margin-right:12px;}
.project_tab_wrap .nav-tabs>li:last-child{margin:0;}
.project_tab_wrap .nav-tabs>li.active>a,
.project_tab_wrap .nav-tabs>li.active>a:focus,
.project_tab_wrap .nav-tabs>li.active>a:hover,
.project_tab_wrap .nav>li>a:focus,
.project_tab_wrap .nav>li>a:hover{border:0;background:#c8d409;color:#6e3431;}
.project_tab_wrap .main_text{margin:0;}
.project_tab_wrap .tab-content{padding: 20px 0 0;}

.project2_block.project_single{padding:55px 0 20px;}
.project2_block.project_single .project2_carousel_wrap{margin:0;}
.project_ca_form .content_block_item .img_box{height:auto;}
.project_ca_form .content_block_item .column{padding: 73px 0;}

/* porject_single_example */
.porject_single_example{padding: 50px 0 40px;border-top: 1px solid #eeeeee;}
.porject_single_example .hp_ttl{text-align:left;}
.porject_single_example .hp_sub_text{text-align:left;max-width: 880px;margin:0 0 40px;}
.example_carousel_wrap{position: relative;}
.example_carousel_wrap .service_carousel_next{right:-60px;}
.example_carousel_wrap .service_carousel_prev{left:-60px;}

/* SERVICE PAGE */
.brea_ttl_area_inner .download{display:inline-block;height:32px;line-height:32px;color:#fff;padding-left:38px;background:url(img/icon/download_icon.png) no-repeat left center;}
.brea_ttl_area_inner .download:hover,
.brea_ttl_area_inner .download:focus{text-decoration:none;opacity: .8;}
.project_single .btn_wrap a+a{margin-left:50px;}

.service_inner_content{padding: 50px 0 10px}
.service_inner_gallery .replay_gallery{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack: start;-webkit-justify-content: flex-start;-ms-flex-pack: start;justify-content: flex-start;margin:0 -15px;}
.service_inner_gallery .replay_gallery li{width:360px;width:-webkit-calc(100%/3 - 30px);width:calc(100%/3 - 30px);margin:0 15px 30px !important;height:auto;}

.service_single_example{padding: 65px 0 50px;border-bottom:1px solid #eeeeee;margin:0 0 40px;}
.service_single_example .hp_ttl{text-align:left;}
.service_single_example .hp_sub_text{text-align:left;max-width: 880px;margin:0 0 40px;}
.service_example_thumb{border-radius: 5px;overflow:hidden;margin: 0 0 12px;}
.service_example_thumb img{border-radius: 5px;}
.service_example_ttl{display:inline-block;font-size: 24px;line-height: 30px;}
.service_example_ttl:hover,
.service_example_ttl:focus{text-decoration:none;}
.example_carousel_wrap .lSSlideOuter .lSPager.lSpg{margin-top:20px!important;}
.the_content_box .hp_ttl,
.service_page_video_list .hp_ttl{text-align:left;}

.service_3post_row{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;margin:0 -15px 70px;}
.service_3post_row .post_wrap{-webkit-flex-basis: 360px;-ms-flex-preferred-size: 360px;flex-basis: 360px;margin:0 15px;}
.service_3post_row .post_wrap .thumb{width: 360px;height: 204px;border-radius: 5px 5px 0 0;overflow: hidden;}
.service_3post_row .post_wrap .thumb img{border-radius: 5px 5px 0 0;}
.service_3post_row .post_wrap .post_name {background: #f7f7f7;text-align: center;padding: 20px 15px 30px;border-radius: 0 0 5px 5px;font-size: 20px;}

.service_3post_row .post_wrap .post_name a:hover,
.service_3post_row .post_wrap .post_name a:focus{text-decoration: none;}
.project2_block.service_single{background:#f7f7f7;margin:0 0 50px;padding: 50px 0 45px;}
.project2_block.service_single .project2_carousel_wrap{margin-bottom: 0;}
.service_page_video_list{margin:0 0 40px;}

/* obsada */
.service_inner_gallery.obsada{margin: 0 0 25px;}
.the_content_box.obsada{margin:0 0 40px;}
.obsada_images{margin:0 -15px 50px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.obsada_images .obsada_images_item{margin:0 15px 30px;max-width: 555px;}
.obsada_images .obsada_images_item .obsada_caption,
.obsada_images .obsada_images_item .wp-caption{color:#000;font-size:16px;line-height: 20px;margin:15px 0 0;}
.obsada_hr{margin:0;}
/* obsada 3 block in a row */
.obsada3_block{padding:50px 0 10px;}
.obsada3_block .hp_ttl{text-align:left;}
.obsada3_block .hp_sub_text{text-align:left;max-width: 880px;margin:0 0 35px;}

.obsada_box_list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -15px;}
.obsada_box_list .obsada_box{margin:0 15px 45px;width:-webkit-calc(100%/3 - 30px);width:360px;width:calc(100%/3 - 30px);}
.obsada_box_list .obsada_box .thumb{border-radius: 5px;-webkit-box-shadow:0 3px 5px rgba(0,0,0,.05);box-shadow:0 3px 5px rgba(0,0,0,.05);margin:0 0 18px;}
.obsada_box_list .obsada_box .thumb img{border-radius:5px;}
.obsada_box_list .obsada_box .ttl{font-size:24px;line-height:26px;}
.obsada_box_list .obsada_box .price{font-size:18px;line-height:26px;margin:0 0 18px;}
.obsada_box_list .obsada_box .obsada_box_info dt{text-align:left;width:90px;font-size:16px;line-height:26px;font-family: 'Circe-Bold';}
.obsada_box_list .obsada_box .obsada_box_info dd{font-size:16px;line-height:26px;margin-left: 100px;}
.obsada_box_list .obsada_box .descript{font-size:16px;line-height:20px;}













/* RESPONSIVE */
@media (min-width:1460px){
    .w1440{width:1440px;margin:0 auto;}
}

@media (min-width:1200px){
    .breadcrumbz_area{height:300px;}
}

@media (max-width:1200px){
    .blog_single .page_title{position: static;max-width: 100%;}
    .cat_loop .post_item .post_thumb{height:auto;}
    .cat_loop .post_item{-webkit-flex-basis:48%;-ms-flex-preferred-size:48%;flex-basis:48%;}
}
@media (min-width: 992px) and (max-width: 1200px){

}
@media (max-width:992px){

}
@media (min-width: 768px) and (max-width: 992px){

}
@media (max-width:767px){

}
@media (max-width:670px){

}
@media (min-width: 480px)and (max-width:670px){
    .container{width:480px;}
}
@media (max-width:480px){
    .container{width:414px;}
}
@media (max-width:414px){
    .container{width:320px;}
}